page-select-image-modal {

    .close-button {
        padding: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    .image-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        align-content: flex-start;

        .image-size {
            width: 33%;
            height: auto;
        }

        .active {
            opacity: 0.5;
        }

        .inactive {
            opacity: 1;
        }
    }

}
