page-communitycomment {

	ul {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		height: 100%;
  }

  /*
  li {
  	padding: 5px 10px;
  }

  .text{
	margin-bottom: 5px;
  }

  .comment {
  	margin-right: 60px;
  }

  .post {
	margin-right: 60px;
  }

  .post p{
	margin: 0px;
  }
  */

  .bubble {
		background-color: #ebebeb;
		display: inline-block;
  }

  .bubble p {
  	margin: 0px;
  }

  span.commentname {
	margin-top: 20px;
	font-family: AppleSDGothicNeo;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
  }

  .comment-line1 p{
	margin-top: 20px;
	font-family: AppleSDGothicNeo;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	color: #4a4a4a;
  }

  .commenttime{
	float: right;
	//margin-top: 20px;
  	font-family: AppleSDGothicNeo;
  	font-size: 12px;
	font-weight: 500;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #9b9b9b;
  }

  .profilephoto .time{
	font-family: AppleSDGothicNeo;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	//text-align: right;
	color: #9b9b9b;
  }
  .btn {
  	margin-top: 3px;
  }

  p.text{
	font-family: AppleSDGothicNeo;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	color: #4a4a4a;
  }

  div.comment span.button button{
	background-color: transparent;
	font-family: AppleSDGothicNeo;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #d8d8d8;
	//margin-bottom: 40px;
  }

  .btn button {
  	color: #606060;
  	font-weight: 500;
  	font-size: 12px;
  }

  .subcommentlist li {
  	padding: 5px 0px;
  }

  .subcomment {
  	margin-left: 50px;
  	margin-right: 10px;
  }

  /*
  .commentform {
	background-color: white;
	border: 1px solid #d0d0d0;
	border-radius: 15px;
	padding: 2px 2px 2px 10px !important;
	display: table;
	width: 100%;
}

.commentform input {
	border-style: none;
	display: table-cell;
	 vertical-align: middle;
	 margin: 2px 5px 2px 0px;
	 width: 85%;
}

.commentform button {
	padding: 0px;
	display: table-cell;
	 vertical-align: middle;
	 float: right;
	 border-radius: 15px;
	 // border: 1px solid #000;
}

	.commentform img {
		height: 24px;
		vertical-align: middle;
	}
	*/

	ion-footer {
		//background-color: #e8ede8;
		padding: 3px 8px;
	}

	.footerform {
		background-color: #ffffff;
		border: solid 2px #f7f7f7;
	  }

	.footerform input {
		border-style: none;
		display: table-cell;
 		vertical-align: middle;
 		margin: 2px 5px 2px 0px;
 		width: 80%;
	}

	.footerform button {
		opacity: 0.5;
		font-family: AppleSDGothicNeo;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #55b26e;
		background-color: transparent;
	  }

	.footerform ::placeholder{
		font-family: AppleSDGothicNeo;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #9b9b9b;
	  }

	.footerform img {
		height: 24px;
		vertical-align: middle;
	}

	// 여기부터 추가로 만듬

	span.posttitle{
		font-family: AppleSDGothicNeo;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	  }

	span.username span.button button{
		display:inline-block;
		font-family: AppleSDGothicNeo;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		//text-align: right;
		color: #d8d8d8;
		background-color: transparent;
	  }

	span.username span.anonymity{
		margin-top: 30px;
		font-family: AppleSDGothicNeo;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		vertical-align: 35%;
	  }

	.posttext{
		margin-top: 30px;
		font-family: AppleSDGothicNeo;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		color: #4a4a4a;
	  }

	div.posttag1{

		margin-top: 30px;
		font-family: AppleSDGothicNeo;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}

	div.posttag1 button{
		background-color: transparent;
	}

	div.posttag1 span.time{
		font-family: AppleSDGothicNeo;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #9b9b9b;	
	}

	.co-li {
		margin-top: 30px;
		margin-bottom: 30px;
		background-color: #f7f7f7;
	}

	.comment-like img {
		width: 18px;
		height: 17.1px;
		object-fit: contain;
	}

	/*
	.comment-like {
		width: 100%;
		height: 32px;
		background-color: #f7f7f7;
	}
	*/

	.comment-like .like{
		background-color: #f7f7f7;
	}
	
	.comment-like span {
		font-family: AppleSDGothicNeo;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}

	button img{
		width: 70px;
		height: 70px;
		background-color: transparent;
	  }
 
	span.profilephoto img{
		width: 24px;
		height: 24px;
	}

	ion-item.profile{
		max-width: 100%;
	}

}
