<!--
  Generated template for the CounselorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color>
    <ion-title>전문 상담사</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card class="cards-bg" *ngIf="loadComplete">
    <ion-card-content>
      <!-- <p align="center" class="userprofile">
      //상담사 프로필 사진 설정할 것
        <button class="photo" (click)="changecharacter()">
  			<img src="{{photoURL}}">
  		</button>
      </p> -->
    	<p class="username">{{ user.username }}</p>
      <p class="greeting">안녕하세요! [{{ user.username }}] 상담사입니다.<br>함께 나아가요!</p>

      <button class="review">리뷰보기</button>

      <div class="ratingcontainer" align="center">
        <div>
          <span>평점</span>
          <ul class="ratingstars">
            <li *ngFor="let rating of ratingsA">
              <img src="{{ rating.src }}">
            </li>
          </ul>
        </div>
      </div>

    	<button ion-button full clear color="black" (click)="sendRequest()">
    		채팅 요청하기
    	</button>
    	<button ion-button full clear color="daysgreen" (click)="nextSupporter()">
    		다른 상담사 찾기
    	</button>

    </ion-card-content>
  </ion-card>

</ion-content>
