<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>209011208541-6kl10jdmr1bcr751k0udmarbk9cj4ga5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209011208541-6kl10jdmr1bcr751k0udmarbk9cj4ga5</string>
	<key>API_KEY</key>
	<string>AIzaSyADx4SyisQqpWvu28BDvBiHzBfCnzxVRD8</string>
	<key>GCM_SENDER_ID</key>
	<string>209011208541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coconut.coconut</string>
	<key>PROJECT_ID</key>
	<string>days-fd14f</string>
	<key>STORAGE_BUCKET</key>
	<string>days-fd14f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209011208541:ios:251d0ff42415a2df</string>
	<key>DATABASE_URL</key>
	<string>https://days-fd14f.firebaseio.com</string>
</dict>
</plist>