page-hospitalcenter {

  ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
  }

	#map {
    width: 0;
  }

  .card-page {

    background-color: white;
    position: relative;
    text-align: center;
    

    img {
      border-radius: 8px;
      width: 90px;
      height: 90px; 
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .hash-tags {
        font-family: AppleSDGothicNeo;
        font-size: 0.65em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
  
        ion-icon {
          color: color($colors, black);
        }
      }
  
      .card-item {
        width: 100%;
        height: 13rem;
      }
    
      .card-title {
  
        font-family: AppleSDGothicNeo;
        font-size: 0.9em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
      }
    
      .card-subtitle {
      
        font-family: AppleSDGothicNeo;
        font-size: 0.75em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9b9b9b;
      }
  
      button {
        margin: 0;
        padding: 0;
      }
  
      .card-star {
        font-family: AppleSDGothicNeo;
        font-size: 0.6em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
  
        ion-icon {
          color: color($colors, primary);
        }
      }
  
      .card-review {
        font-family: AppleSDGothicNeo;
        font-size: 0.7em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: color($colors, primary);
      }
    }

    
  
  }

}
