<!--
  Generated template for the CommunityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar no-border-bottom>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
				<ion-title>커뮤니티</ion-title>
				<ion-buttons right>
						<button ion-button icon-only (click)="communitywrite()">
							글쓰기
						</button>
					</ion-buttons>
			</ion-navbar>
			
			<div class="search-button">
			<ion-searchbar class="searchbar" [(ngModel)]="tag" placeholder="태그를 검색해보세요!" (change)="searchtag(tag)"></ion-searchbar>
			<!-- <input type="text" class="searchbar" [(ngModel)]="tag" placeholder="태그를 검색해보세요!"> -->
			<!-- <button class="button" (click)="searchtag(tag)">검색</button> -->
			</div>

	</ion-header>

	<ion-content>
		<ul style="list-style:none; padding-left:0px;" class="smalltag">
				<span class="bigtag">
					<button (click)=searchtag(this.community.taglist[0])>#우울</button>
					<button (click)=searchtag(this.community.taglist[1])>#불안</button>
					<button (click)=searchtag(this.community.taglist[2])>#초조</button>
					<button (click)=searchtag(this.community.taglist[3])>#트라우마</button>
					<button (click)=searchtag(this.community.taglist[4])>#학교폭력</button>
					<button (click)=searchtag(this.community.taglist[5])>#가정폭력</button>
					<li *ngFor="let mosttag of mosttag1">
						<span class="setting">
							<button (click)=searchtag(mosttag.tag1)>#{{ mosttag.tag1 }}</button>
						</span>
					</li>
				</span>
			</ul>
		<ul style="list-style:none; padding-left:0px;" class="postclass">
				<li *ngFor="let post of posts">
					<div class="post">
		
						<div class="group-time" >
								<button class="group" (click)="comment(post)">
									{{ post.posttitle }}
								</button>
								<div *ngIf="urlcheck(post)">
									<img src="assets/diary11.png">
								</div>
						</div>
						<div class="posttext">
							<div class="posttext">{{ post.text }}</div>
						</div>
						<div class="tag">
								<button (click)=searchtag(post.tag1)>#{{post.tag1}}</button>
						</div>
							<div class="anonymity" *ngIf="changeAnonymity(post)">{{ post.timestamp | date:'MM.dd a hh:mm' }} 익명</div>
							<div class="anonymity" *ngIf="!changeAnonymity(post)">{{ post.timestamp | date:'MM.dd a hh:mm' }} {{ post.username }}</div>
						<table class="co-li" style="width:100%">
							<td align="center" style="width: 50%">
								<tr class="comment-like">	
									<button class="like" (click)="like(post)">
										<img src="{{ post.likesrc }}">
										<span>{{ post.like }}</span>
									</button>
								</tr>
							</td>
							<td align="center" style="width: 50%">
								<tr class="comment-like">
									<button class="like">
										<img src="assets/comment.png">
										<span>{{ post.comment }}</span>
									</button>
								</tr>
							</td>
						</table>
					</div>
				</li>
				<div class="search-button">
						<button class="button" (click)="doInfinite()">더 보기</button>
				</div>

			</ul>
	
	</ion-content>