.community-container {
	margin: 0 1rem;
	list-style: none;	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	.community-card {
		padding: 1rem 0;
		width: 11rem;
		height: auto;
		display: block;
		text-align: center
		
	}

	.image {
		margin-bottom: 1rem;
		height: 11rem;
		display: flex;
		border-radius: 50%;
	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	
	.community-name {
		font-size: 1.5rem;
	}

	.last-post-time{
		font-size: 1.1rem;
		color: color($colors, bordergray, base);
	}

}