page-community {

	ul.postclass {
	  list-style-type: none;
		padding: 0px;
		padding-top: 0px;
		margin: 0px;
	  //height: 100%;
	}

	.post {
		//border-top: 1px solid #c0c0c0;
	  padding: 15px;
	}

	.posttext div.posttext{
		display: -webkit-box;
		display: -ms-flexbox;
		display: box; 
		margin-top:1px; 
		max-height:80px; 
		overflow:hidden; 
		vertical-align:top; 
		text-overflow: ellipsis; 
		word-break:break-all; 
		-webkit-box-orient:vertical; 
		-webkit-line-clamp:2;
		font-family: AppleSDGothicNeo;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #9b9b9b;
		padding-top: 10px;
	}

	.tag {
		margin-top: 15px;
		font-family: AppleSDGothicNeo;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		padding-top: 10px;
	}

	.tag button{
		float: left;
		background-color: transparent;
	}

	/*
	.name {
	  overflow: auto;
	  margin-bottom: 5px;
	  display: table;
		width: 100%;
		
		span {
			color: color($colors, primary);
		}
	}

	.name span {
	  display: table-cell;
	  vertical-align: middle;
	}

	.name button {
		float: right;
		background-color: transparent;
	  padding: 0px;
	}

	.name p {
		float: left;
		padding: 5px;
	}

	.name ion-icon {
	  padding: 0px;
	  font-size: 30px;
	}
	*/

	.picture {
	  height: 250px;
	  text-align: center;
	  margin-bottom: 5px;
	}

	.picture img {
	  max-height: 100%;
	}

	.group-time button {
		background-color: transparent;
		font-family: AppleSDGothicNeo;
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		padding-top: 5px;
	}

	.group-time img {
	  height: 16px;
	  margin-right: 6px;
	}

	.anonymity {
		float: right;
		font-family: AppleSDGothicNeo;
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #9b9b9b;
	}

	.text {
	  margin-bottom: 5px;
	}

	.text p {
	  margin: 0px;
	  white-space: pre-line;
	}

	.co-li {
		
		background-color: #f7f7f7;
	}

	.comment-like img {
		width: 18px;
		height: 17.1px;
		object-fit: contain;
	}

	/*
	.comment-like {
		width: 100%;
		height: 32px;
		background-color: #f7f7f7;
	}
	*/

	.comment-like .like{
		background-color: #f7f7f7;
	}
	
	.comment-like span {
		font-family: AppleSDGothicNeo;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}


	.comment {
	  margin-right: 10px;
	}


	ion-footer button {
	  margin: 0px !important;
	}

	.search-button button.button{
		font-size: 15px;
		//margin-bottom: 10px;
	}

	/*
	.search-button .searcharea {
		border: 1px solid color($colors, bordergray, base);
		border-radius: 5px;
		width: 50%;
		height: 40px;
		margin-bottom: 10px;
		padding: 10px;
	}
	*/

	.search-button .searchbar {
		width: 100%;
		background-color: #ffffff;
		//border: solid 1px #d8d8d8;
	} 

/*
.buttons {
	width: 100%;
}

.buttons td {
	padding: 10px 0px;
}

.buttons div {
	background-color: color($colors, primary, base);
	border-radius: 40px;
	width: 80px;
	height: 80px;
}

.buttons button {
	height: inherit;
	padding: 0px;
	background-color: transparent;
	display: table;
}

.buttons p {
	margin: 0px;
	color: white;
	font-size: 12px;
	display: table-cell;
	 vertical-align: middle;
}

.buttons p {
	margin: 0px;
	color: white;
	font-size: 12px;
	display: table-cell;
	 vertical-align: middle;
}
*/

.button{
  font-family: AppleSDGothicNeo;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
	color: #000000;
	background-color: transparent;
}

.search-button ::placeholder{
  width: 26px;
  height: 19px;
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
	letter-spacing: normal;
	text-align: center;
  color: #9b9b9b;
}

.bigtag button{
	padding-top: 20px;
  height: inherit;
  font-family: AppleSDGothicNeo;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
	color: #000000;
	padding: 0 3%;
	background-color: transparent;
}


ul.smalltag .setting button{
	padding-top: 10px;
	list-style-type: none;
	height: inherit;
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
	color: #9b9b9b;
	float: left;
	background-color: transparent;
}

button.moremore {
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
	letter-spacing: normal;
	text-align: center;
  color: #9b9b9b;
}

}
