page-community {
  .community-container {
    margin: 0 1rem;
    list-style: none;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;

    .community-card {
      padding: 1rem 0;
      width: 11rem;
      height: auto;
      justify-self: center;
      text-align: center;

      .image {
        margin-bottom: 1rem;
        height: 11rem;
        display: flex;
        border-radius: 50%;
      }

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }

      .community-name {
        font-size: 1.5rem;
      }

      .last-post-time {
        font-size: 1.1rem;
        color: color($colors, bordergray, base);
      }
    }

  }

  .create-button-container {
    display: flex;
    margin: 0 1rem;
    justify-content: center;

    .create-button {
      padding: 0.5rem;
      text-align: center;
      width: 100%;
      border-radius: 10rem;
    }
  }

}