page-supporter-popover {

  .cards {
    background: color($colors, cardbggray, base);
    border: 1px solid color($colors, daysgreen, base);
    width: 40%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 22px;
    margin-right: 3px;
  }

  h1 {
    margin-top: 30px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #000000;
    display: inline-block;
    padding-bottom: 5px;

  }

  h4 {
    margin-top: 80px;
    margin-bottom: 15px;
  }

  .align-center {
    text-align: center;
  }

  .cards p {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
