<!--
  Generated template for the PwdchangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>

  <ion-navbar>
    <ion-title>비밀번호 변경</ion-title>
  </ion-navbar>

</ion-header>
-->

<ion-content class="cardsbg">
  <span class="coconut" style="width: 100%; float: right;">
    비밀번호 변경
  </span>
  <form [formGroup]="loginForm" novalidate>
    <span class="email_pwd">비밀번호 입력</span>
    <ion-input formControlName="password" type="password" [(ngModel)]="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    <p class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      8자리 이상, 숫자와 문자를 조합해주세요!
    </p>
    <span class="email_pwd">비밀번호 확인</span>
    <ion-input formControlName="password" type="password" [(ngModel)]="confirmation" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    <p class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      8자리 이상, 숫자와 문자를 조합해주세요!
    </p>
    <button class="button" (click)="changepwd(password)">
      확인
    </button>
  </form>

</ion-content>