page-community-write {
  .header {
    // border: 1px solid #000;
    text-align: center;
    margin-bottom: 10px;
  }

  .header p {
    // border: 1px solid #f00;
    margin: 0px 0px 5px;
  }

  .header .group {
    color: color($colors, primary, base);
    font-weight: 600;
  }

  .header .text {
    color: color($colors, textgray, base);
  }

  .area {
    text-align: center;
    margin-bottom: 10px;
  }

  .area .area1 {
    border: 1px solid color($colors, bordergray, base);
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .area .area2 {
    border: 1px solid color($colors, bordergray, base);
    border-radius: 5px;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .area .area3 {
    border: solid 1px #d8d8d8;
    border-radius: 5px;
    width: 100%;
    height: 44px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .imagechooser {
    padding: 5px;
    border: 1px solid color($colors, bordergray, base);
    border-radius: 5px;
    width: 100%;
    // line-height: 100px;
    text-align: center;
  }

  .imagechooser .gallery {
    border-radius: 20px;
    background-color: color($colors, cardbggray, base);
    padding: 5px 20px;
    margin: 30px 0px;
  }

  .imagechooser div {
    display: table;
  }

  .imagechooser ion-icon {
    font-size: 20px;
    margin-right: 5px;
  }

  .imgchooser span {
    display: table-cell;
    vertical-align: middle;
  }

  .imagechooser img {
    width: 70px;
    height: 70px;
  }

  .imagechooser .image {
    padding: 0px !important;
  }

  ion-footer button {
    margin: 0px !important;
  }

  // 추가추가

  .anonymitywrite {
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  .area1 ::placeholder {
    font-family: AppleSDGothicNeo;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
  }

  .area2 ::placeholder {
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #9b9b9b;
  }

  .area3 ::placeholder {
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d8d8d8;
  }

  .tag-image button {
    height: 58px;
    background-color: transparent;
  }

  .tag-image .tag {
    background-color: transparent;
    object-fit: contain;
  }

  .tag-image span {
    background-color: transparent;
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }
}
