<ion-header>
	<ion-navbar>
    <ion-title>
      프로필
    </ion-title>
		<ion-buttons *ngIf="this.currentUser" end>
      <button ion-button icon-only (click)="navigateTo('MypagePage')"> 
			  <ion-icon name="settings"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
  <div class="spinner-container" *ngIf="!this.user">
    <ion-spinner></ion-spinner>
  </div>
  <ng-container *ngIf="this.user">
    <div class="profile-container">
      <div>
        <img class="profile-image" src="{{this.user.photoURL}}">
        <h1>{{this.user.username || this.user.displayName}}</h1>
        <p *ngIf="this.currentUser">{{this.user.email}}</p>
      </div>
      <hr>
      <ion-label class="section-label">가입한 커뮤니티</ion-label>
      <ion-row justify-content-center align-items-center class="communities-container">
        <ion-item no-lines>
          <div *ngIf="!joinedCommunities">
            <ion-spinner></ion-spinner>
          </div>
          <ion-scroll *ngIf="joinedCommunities" class="scroll" scrollX="true" scrollbar-y="false">
            <div *ngIf="joinedCommunities.length === 0">아직 가입한 그룹이 없습니다!</div>
            <div *ngFor="let community of joinedCommunities" class="community-icon">
              <p>{{community.communityName}}</p>
            </div>
          </ion-scroll>
        </ion-item>
      </ion-row>
      <hr>
      <ion-label class="section-label">쓴 글</ion-label>
      <div *ngIf="!postCards">
        <ion-spinner></ion-spinner>
      </div>
      <p *ngIf="displayedPostCards.length === 0">아직 쓴 글이 없습니다!</p>
      <div *ngIf="displayedPostCards.length > 0" class="cards-container">
        <ion-card class="card-container" *ngFor="let card of displayedPostCards" >
          <ion-item >
            <ion-avatar item-start>
              <img src="{{this.user.photoURL}}">
            </ion-avatar>
            <div ion-content>
              <h2>{{this.user.username || this.user.displayName}}</h2>
              <p *ngIf="!card.anonymity">{{card.communityName}}</p>
            </div>
            <button ion-button item-end icon-only clear (click)="presentActionSheet(card)">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-item>
          <ion-card-content class="card-content" *ngIf="!card.anonymity">
              <p >{{card.text}}</p>
          </ion-card-content>
          <ion-card-content class="card-content" *ngIf="card.anonymity">
            <p>익명의 글입니다</p>
          </ion-card-content>
          <ion-row class="card-buttons" >
            <ion-col class="button-wrapper" col-5>
              <!-- 좋아요 기능 -->
              <!-- <button ion-button icon-start clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                좋아요 {{card.like}}개
              </button> -->
            </ion-col>
            <ion-col class="button-wrapper" col-5>
              <!-- 댓글 기능 -->
              <!-- <button ion-button icon-start clear small>
                <ion-icon name="text"></ion-icon>
                댓글 {{card.comment}}개
              </button> -->
            </ion-col>
            <ion-col class="button-wrapper" class="card-time">
              <ion-note>{{card.createdTime | date: 'MM/dd'}}</ion-note>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
  </ng-container>
</ion-content>
