<ion-header no-border>
  <ion-navbar no-border-bottom>
    <ion-title>
      병원/센터
      <img src="assets/icon/question.png" (click)="showExplanation()" />
    </ion-title>
    <!--
      <ion-buttons right>
        <button ion-button icon-only">
          정렬
        </button>
      </ion-buttons>
    -->
  </ion-navbar>

  <ion-searchbar
    #userInput
    (keyup.enter)="searchByText(userInput.value)"
    placeholder="지역이나 병원/센터 이름을 검색해보세요"
  ></ion-searchbar>

  <ion-segment mode="md" [(ngModel)]="placeType" (ionChange)="searchByText()">
    <ion-segment-button value="center"> 상담센터 </ion-segment-button>
    <ion-segment-button value="hospital"> 정신과 </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content no-border>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div #map id="map"></div>

  <ion-list>
    <ion-list-header>추천 병원</ion-list-header>
    <ion-item>
      <ion-item *ngFor="let place of places" (click)="placeDetail(place)">
        <ion-thumbnail item-start>
          <img src="/assets/imgs/psych3.png" />
        </ion-thumbnail>
        <h2>{{ place.name }}</h2>
        <p>{{ place.formatted_address.substr(5) }}</p>
        <span>평점 {{ place.ratings }}</span>
        <span>리뷰 {{ place.reviewCount }}</span>
      </ion-item>
    </ion-item>

    <ion-list-header>광고 아닌 애들</ion-list-header>
    <ion-item>
      <ion-item *ngFor="let place of places" (click)="placeDetail(place)">
        <ion-thumbnail item-start>
          <img src="/assets/imgs/psych3.png" />
        </ion-thumbnail>
        <h2>{{ place.name }}</h2>
        <p>{{ place.formatted_address.substr(5) }}</p>
        <span>평점 {{ place.ratings }}</span>
        <span>리뷰 {{ place.reviewCount }}</span>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
