<ion-header no-border>
  <ion-navbar no-border-bottom>
    <ion-title>
      병원/센터
      <img src="assets/icon/question.png" (click)="showExplanation()" />
    </ion-title>
    <!--
      <ion-buttons right>
        <button ion-button icon-only">
          정렬
        </button>
      </ion-buttons>
    -->
  </ion-navbar>

  <ion-searchbar #userInput (keyup.enter)="searchByText(userInput.value)" placeholder="지역이나 병원/센터 이름을 검색해보세요"></ion-searchbar>

  <ion-segment mode="md" [(ngModel)]="placeType" (ionChange)="searchByText()">
    <ion-segment-button value="center"> 상담센터 </ion-segment-button>
    <ion-segment-button value="hospital"> 정신과 </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content no-border>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div #map id="map"></div>

  <ion-list no-border>
    <ion-list-header>Sponsored</ion-list-header>

    <ion-item class="ad" no-lines *ngFor="let premiumPlace of premiumPlaces" (click)="premiumPlaceDetail(premiumPlace)">
      <ion-thumbnail item-start>
        <img [src]="premiumPlace.images[0]" class="rounded-edges" />
      </ion-thumbnail>
      <h2>{{ premiumPlace.name }}</h2>
      <p>{{ premiumPlace.address }}</p>
      <div class="flex-container">
        <p>평점 {{ premiumPlace.ratings || 0 }}</p>
        <p>리뷰 {{ premiumPlace.reviewCount || 0 }}</p>
      </div>
    </ion-item>

    <div class="divider">

    </div>

    <ion-item no-lines *ngFor="let place of places" (click)="placeDetail(place)">
      <ion-thumbnail item-start>
        <img src="{{ place.image }}" class="rounded-edges">
      </ion-thumbnail>
      <h2>{{ place.name }}</h2>
      <p>{{ place.formatted_address.substr(5) }}</p>
      <div class="flex-container">
        <p>평점 {{ place.ratings }}</p>
        <p>리뷰 {{ place.reviewCount }}</p>
      </div>
    </ion-item>

  </ion-list>
</ion-content>
