page-place-list {

  #map {
    width: 0;
  }

  .segment-md {
    width: 100%;
    margin-bottom: 2rem;
  }

  .segbutton {
    width: 50%;
    bottom: 3%;
    margin: 0% 10%;
    text-align: center;
  }

  .segment-md .segment-button {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    width: 50%;
    color: #9b9b9b;
    font-size: 20px;
    font-weight: 500;
    border-bottom-width: 0;
  }

  .segment-button.segment-activated {
    border-bottom-width: 4px;
    color: #4a4a4a;
  }

  .divider {
    margin: 1em 0;
    border-bottom: 1px dashed color($colors, primary_light);
  }

  .flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    p {
      padding-right: 2em;
    }
  }

  .ad {
    background-color: color($colors, primary_light)
  }

  .rounded-edges {
    border-radius: 20%;
  }
}
