page-supporterchat {

	.bg {
		background-color: color($colors, white, base);
  }
  
  .init-message {
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem 2.6rem;
    width: 95%;
    height: auto;
    border-radius: 14px;
    border: solid 1px color($colors, primary, base);
    display: flex;
    align-content: center;

    span {
      width: 330px;
      height: auto;
      font-family: AppleSDGothicNeo;
      font-size: 16px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #55b26e;      
    }
  }

	ul {
		list-style-type: none;
    margin: 0;
    padding: 5px 0px 0px;
  }

  .chat {
    padding-bottom: 45px !important;
  }

  li {
    overflow: hidden;
  }

  ul img {
  	float: left;
  	position: absolute;
  	width: 40px;
  	height: 40px;
  	margin: 0px 5px;
    padding: 1px;
  }

  .bubble {
    display: inline-block;
    background-color: color($colors, apricot, base);
    border-radius: 14px;
    box-shadow: 1px 1px 1px #b0b0b0;
    padding: 1rem 0.8rem;
    font-size: 13px;
    white-space: pre-line;
    margin: 0px 5px 6px 0px;
    max-width: 200px;
  }

  // .gogo {
  //   color: gray;
  //   position: relative;
  //   left: 50px;
  //   background-color: color($colors, white, base);
  // }

  .buddy {
    left: 50px;
    position: relative;
    background-color: color($colors, apricot2, base);
    color: color($colors, gray, base);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .me {
    background-color: color($colors, apricot, base);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: color($colors, gray, base);
  }

  .timebuddy {
    color: gray;
    font-size: 10px;
    display: inline-block;
    position: relative;
    left: 46px;
    bottom: -7px;
  }

  .mymsg {
    float: right;
  }

  .time {
    color: gray;
    font-size: 10px;
    position: relative;
    bottom: -7px;
  }

  ion-footer {
    background-color: white;
    padding: 3px 8px;
  }

  .footerform {
    background-color: white;
    border-top: solid 2px #f7f7f7;
    padding: 1.5rem;
    width: 100%;
    display: flex;

    span {
      font-size: 14px;
      color: color($colors, primary, base);
    }
  }

  .footerform input {
    border-style: none;
    display: table-cell;
    vertical-align: middle;
    margin: 2px 5px 2px 0px;
    width: 88%;
  }

  .footerform button {
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    float: right;
    border-radius: 15px;
  }

  .footerform img {
    height: 24px;
    vertical-align: middle;
  }

  .setblack {
    color: black !important;
  }

}
