<!--
  Generated template for the SupporterchatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{buddy.username}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content #content class="bg">

  <div class="init-message">
    <span>[<strong>{{buddy.username}}</strong>]님과 코코넛 서포터상담을<br>시작하셨습니다!</span>
  </div>
  <div class="init-message">
    <span>코코넛 서포터 상담은 <strong>최초 메세지 5개 발송이<br>무료</strong>이며, 추가로 상담을 이어가고 싶으시다면<br><strong>메세지 1개 발송 당 넛츠 1개가 소요</strong>됩니다.</span>
  </div>
  <div class="init-message">
    <span>코코넛 메세지는 <strong>1개 발송 당 50자</strong>의<br>텍스트 제한이 있습니다.</span>
  </div>


  <ul>
    <li *ngFor="let msg of gogomessages">
      <div>
        <img *ngIf="msg.showimage" src="assets/gogo.png">
        <p class="bubble gogo" [ngClass]="{setblack: msg.setblack}">{{msg.message}}</p>
      </div>
    </li>
  </ul>

  <ul class="chat">
    <li *ngFor="let msg of chatmessages">
      <div *ngIf="msg.sentby == buddy.uid">
        <img *ngIf="msg.showprofileimage" src="{{buddy.photoURL}}">
        <p class="bubble buddy">{{ msg.message }}</p>
        <span class="timebuddy">{{ msg.timestamp | date:'hh:mm a' }}</span>
      </div>
      <div class="mymsg" *ngIf="msg.sentby != buddy.uid">
        <span class="time">{{ msg.timestamp | date:'hh:mm a' }}</span>
        <p class="bubble me">{{ msg.message }}</p>
      </div>
    </li>
  </ul>
</ion-content>

<ion-footer>
  <div class="footerform">
    <ion-input #focusInput [(ngModel)]="inputMessage" placeholder="무엇이든 말해보세요"> </ion-input>
    <button (click)="sendmessage()">
      <span>보내기</span>
    </button>
  </div>

</ion-footer>