page-splash {

	.bg {
		/* The image used */
		background-image: url("resources/splash.png");
		background-color: color($colors, primary, base) !important; 
		/* Full height */
		height: 100%; 
	
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.text {
		padding: 55px 0px 45px 20px;
	}

	.text p {
		margin: 0px;
		color: white;
		font-size: 23px;
		font-weight: 500;
	}

	.opacity {
		display: table;
		background: #000;
	}

	.opacity img {
		display: table-cell;
    vertical-align: middle;
		opacity: 0.9;
	}

	.logo {
		padding: 25px 0px;
	}

	.logo img {
		width: 65px;
		height: 65px;
	}

}
