page-home {

	.toolbar-background {
		background-color: color($colors, primary);
	}

	.content {
		background-color: color($colors, primary);
	}

	.message {
		color: color($colors, primary);
	}

	.slides {
		padding: 0.5em;
		position: relative;
		font-size: 1em;
		font-weight: bold;
		color: color($colors, primary);
	}

	#searchbar {
		padding: 8px;
		align-content: center;
		vertical-align: middle;

	}

	.title {
		color: color($colors, primary);
	}

	.menu {
		background-color: tarnsparent;
		color: color($colors, primary);
	}

	// .button {
	// 	background-color: transparent;
	// 	color($colors, primary);
	// }

	//
	// .userprofile {
	// 	padding: 0px 0px 10px !important;
	// }
	//
	// .userprofile .photo {
	// 	width: 100px;
	// 	height: 100px;
	//
	// 	margin: 10px 0 5px !important;
	// 	padding: 0px !important;
	// }
	//
	// .userprofile .username {
	// 	font-size: 16px;
	//
	// 	margin: 0px 0px 5px !important;
	// }
	//
	// .userprofile .greeting {
	// 	background-color: color($colors, cardbggray, base);
	// 	width: 60%;
	// 	border-radius: 5px;
	// 	border: 1px solid color($colors, daysgreen, base);
	// 	box-shadow: 1px 1px 1px #406040;
	//
	// 	margin: 0px !important;
	// 	padding: 5px !important;
	// }
	//
	// .userprofile .greeting p {
	// 	font-size: 12px;
	// 	margin: 0px !important;
	// }
	//
	// .userprofile ul {
	// 	list-style-type: none;
	// 	position: absolute;
	// 	top: 0px;
	// 	right: 0px;
	//
	// 	margin: 5px 0px !important;
	// 	padding: 0px !important;
	// }
	//
	// .userprofile button {
	// 	background-color: transparent;
	// }

	// .vertical-buttons img {
	// 	width: 36px;
	// 	height: 36px;
	// 	background-color: transparent;
	// }

	// .mainmenu {
  //   // background-image: url('../assets/background.png');
  //   // background-size: cover;
  //   // padding: 1px 0px 10px !important;
	// }

	// .mainmenu ul {
	// 	padding: 0px !important;
	// 	list-style-type: none;
	// }

	// .mainmenu li {
	// 	margin: 5px;
	// }

	// .mainmenu ul button {
	// 	border: 1px solid color($colors, light, base);
	// 	background-color: rgb(0, 168, 107);
	// 	width: 45%;
	// 	margin: 5px;
	// 	padding: 5px !important;
	// 	font-weight: 500;
	// 	color: white;
	// 	font-size: 14px;
	// 	padding: 5px 0px !important;
	// 	display: inline-block;
	// }

	// .mainmenu p {
	// 	color: color($colors, white, base);
	// 	margin: 5px 0 0 !important;
	// 	font-size: 16px;
	// 	font-weight: 700;
	// }

	// .gogo button {
	// 	margin-top: 100px;
	// 	background: transparent;
	// }

	// .gogo img {
	// 	width: 40px;
	// 	height: 40px;
	// }

	// .modal {
  //   background-color: rgba(0, 0, 0, 0.5);
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }

  // .modal-inner {
  //   background-color: white;
  //   border-radius: 20px;
  //   width: 90%;
  //   padding: 10px 20px;
  //   margin: 100px auto 0px;
  //   text-align: center;
  //   overflow: auto;
  // }

  // .modal p {
  //   color: color($colors, daysgreen, base);
  // }

  // .modal .tx {
  //   width: 100%;
  //   border-bottom: 1px solid color($colors, dark, base);
  //   font-size: 12px;
  // }

  // .modal span {
  //   margin: 0px 10px;
  //   display: inline-block;
  // }

  // .modal button {
  //   margin-top: 15px;
  //   float: right;
  //   color: color($colors, daysgreen, base);
  //   font-size: 14px;
  //   background-color: transparent;
  // }

  // .modal .mg {
  //   border-bottom: 1px solid color($colors, dark, base);
  //   text-align: left;
  // }

  // .modal .mg ion-input {
  //   width: 90%;
  //   display: inline-block;
  //   border: none;
  // }

  // .modal .mg span {
  //   margin: 0px;
  //   font-size: 11px;
  //   position: relative;
  //   top: 3px;
  // }

}
