<!--
  Generated template for the CounselorreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{user.username}}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="reviewwrite()">
        후기작성
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #content>
<div class="profile">
  <div class="greeting"> “ {{user.greeting}} ” </div>

  <img *ngIf="user.photoURL" src="{{user.photoURL}}">
  <img *ngIf="!user.photoURL" src="assets/peanut.png">
  <div class="name">{{user.username}}</div>
  <div class="supporter">상담사</div>
  
  
</div>
<div class="segbutton">
  
  <ion-segment [(ngModel)]="type" (ionChange)="changeType()">
      <ion-segment-button value="profile">
        프로필
      </ion-segment-button>
      <ion-segment-button value="review">
        후기({{user.reviewcnt}})
      </ion-segment-button>
    </ion-segment>

  </div>

    <div *ngIf="isProfile" class="profiletext">
      <table>
        <tr>
          <td class="text1">전문상담분야</td>
          <td>{{user.tag1}} {{user.tag2}} {{user.tag3}}</td>
        </tr>
        <tr>
          <td class="text1">총 상담 횟수</td>
          <td>{{user.count}}회</td>
        </tr>
        <tr>
          <td class="text1">경력</td>
        </tr>
        <tr>
          {{user.career}}
        </tr>
      </table>
    </div>

    <div *ngIf="isReview" class="review">
      <ion-list>
        <ion-item *ngFor="let review of reviews">
          <div class="rating">
            <div class="avgtext">
              평균
            </div>
             <img src="assets/icon/star.svg">
            <div class="avg">{{review.ratingavg}}</div>
          </div>
          <div class="reviewcomment">
            {{review.comment}}
          </div>
            <div class="group-time">
              {{review.username}}
                <span class="time">{{ review.timestamp | date:'yyyy.MM.dd' }}</span>
            </div>
        </ion-item>
      </ion-list> 
    </div>

</ion-content>
