<!--
  Generated template for the CommunitywritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
		<ion-title>글쓰기</ion-title>
		<ion-buttons right>
			<button ion-button icon-only (click)="write()">
				완료
			</button>
		</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label class="anonymitywrite">익명으로 글쓰기</ion-label>
			<ion-checkbox [(ngModel)]="anonymity"></ion-checkbox>
		</ion-item>
	</ion-list>
	<div class="area">
		<textarea class="area1" [(ngModel)]="title" placeholder="제목을 입력해주세요." style="border:0;"></textarea>
		<hr style="height: 0.1px; border: solid 1px #d8d8d8;">
		<textarea class="area2" [(ngModel)]="text" placeholder="내용을 입력해주세요." style="border:0;"></textarea>
		<textarea class="area3" [(ngModel)]="tag1" placeholder="# 태그를 입력해주세요." *ngIf="this.tagcorrect"></textarea>
	</div>
	<!--
	<div class="imagechooser">
		<button class="gallery" (click)="openGallery()" *ngIf="!pick">
			<div>
				<ion-icon name="camera"></ion-icon>
				<span>사진 업로드 또는 변경</span>
			</div>
		</button>
		<button class="image" (click)="openGallery()" *ngIf="pick">
			<img src="{{ fileURL }}">
		</button>
	</div>
-->
	<div class="imgchooser">
		<button class="image" (click)="openGallery()" *ngIf="pick">
			<img src="{{ fileURL }}">
		</button>
	</div>
</ion-content>

<ion-footer>
	<!-- <button ion-button full color="gray" (click)="write()">글 등록하기</button> -->
	<table class="co-li" style="width:100%">
		<td align="center" style="width: 50%">
			<tr class="tag-image">	
				<button class="addtag" (click)="addtag()">
					<img src="assets/tag.png" srcset="assets/tag@2x.png 2x, assets/tag@3x.png 3x" class="tag">
					<span>태그 추가</span>
				</button>
			</tr>
		</td>
		<td align="center" style="width: 50%">
			<tr class="tag-image">
				<button class="addimage" (click)="openGallery()" *ngIf="!pick">
					<div>
						<img src="assets/gallery.png" srcset="assets/gallery@2x.png 2x, assets/gallery@3x.png 3x" class="gallery">
						<span>사진 추가</span>
					</div>
				</button>
			</tr>
		</td>
	</table>
</ion-footer>
