<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content" class="logOutMenu">

    <ion-content class="outer-content" class="back">
      <br>
      <br>
      <span class="coconut" style="width: 100%; float: right;">
        coco-nut
      </span>
      <ion-list>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <span class="message" style="width: 100%; float: left;">
          이미 코코넛 회원이세요?
        </span>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)" class="message_button">
          {{p.title}}
        </button>
      </ion-list>
      <ion-list>
        <br>
        <br>
        <span class="message" style="width: 100%; float: left;">
            코코넛을 시작해보세요!
            <br>
            <button ion-item menuClose *ngFor="let p of loggedOutPages2" (click)="openPage(p)" class="message_button">
                {{p.title}}
              </button>
          </span>
        </ion-list>
    </ion-content>
  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content" class="logInMenu" is-enabled="myphoto()">

    <ion-content class="outer-content" class="back">
      <div class="header">
        <img src="assets/cancel.svg" menuClose>
      </div>
      <div class="profile">
        <img src="{{photoURL}}"><br>
        <div class="username"> {{username}} </div>
        <div class="email"> {{email}} </div>
        <div class="myLog">
          <!--
          <button (click)="profile()" class="mypage"> 내 정보 수정 </button>
          <div class="bar"> | </div>
          <button (click)="logout()" class="logout" click="logout()"> 로그아웃 </button>
          -->
        </div>
      </div>
      <div class="itemlist">
        <ion-list no-lines>
          <button ion-item menuClose no-line *ngFor="let p of appPages" (click)="openPage(p)">
            <ion-icon item-start> <img src="{{p.icon}}"> </ion-icon>
            {{p.title}}
          </button>
        </ion-list>

        <ion-list>
          <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
            <ion-icon item-start [name]="p.icon"></ion-icon>
            {{p.title}}
          </button>
        </ion-list>
      </div>
    </ion-content>

  </ion-menu>

  <ion-nav [root]="rootPage" #content swipeBackEnabled="true" main name="app"></ion-nav>

</ion-split-pane>