page-onoffline {

  .title {
    text-align: center;
    padding: 20% 0 0 0;

        h4 {
        color: color($colors, primary);
    }

  }

  // .title {
  //   text-align: center;
  //   margin-top: 20%;
  //   font-weight: 900;

  //   h4 {
  //     margin-top: 100px;
  //     margin-bottom: 10px;
  //     color: color($colors, primary);
  //   }

  // }

  // .cards {
  //   background: color($colors, white, base);
  //   border: 0;
  //   width: 40%;
  //   height: 35%;
  //   box-shadow: 1px 1px 1px #b0b0b0;
  //   display: inline-block;

  // }

  // ion-card-content {
  //   display: inline-flex;
  //   vertical-align: middle;
  // }


}
