page-onoffline {

  ion-navbar {
  background-color: #ffffff;
  }
  ion-header {
    background-color: #ffffff;
  }
  ion-searchbar {
    background-color: #ffffff;
  }

  ion-title {
    width: 100px;
  height: 21px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  //font-: #ffffff;
  }

  .content {
    text-align: center;
    padding: 20% 0 0 0;
  }
}
