page-onoffline {

  ion-navbar {
  background-color: #ffffff;
  }
  ion-header {
    background-color: #ffffff;
  }
  ion-searchbar {
    background-color: #ffffff;
  }

  ion-title {
    width: 100px;
  height: 21px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  //font-: #ffffff;
  }

  .list .profilephoto {
    padding-left: 2%;
    width: 19%;
    float: left;
  }

  .list .text {
    padding-left: 5%;
    float: left;
    width: 80%;
  }

  .list .text .name {
    float: left;
    color: #4a4a4a;
  } 

  .list .text .badge {
    float: right;
    color: #9b9b9b;
    font-size: 12px;
  }

  .list .text .greeting {
    padding-top: 2%;
    padding-bottom: 2%;
    clear: both;
    float: left;
    font-size: 14px;
    color: #4a4a4a;
  }

  .list .kinds {
    color: #9b9b9b;
    font-size: 12px;
    float: left;
    clear: both;
  }

  .list .personalkinds {
    color: #000000;
    font-size: 12px;
    float: left;
    padding-left: 3%;
  }

  .list .reviewsum0 {
    padding-top: 2%;
    color: #9b9b9b;
    font-size: 12px;
    float: left;
    clear: both;
  }
  .list .reviewsum1 {
    padding-top: 2%;
    color: color($colors, primary);
    font-size: 12px;
    float: left;
    clear: both;
  }

  .list .reviewsum {
    padding-top: 2%;
    color: #55b26e;
    font-size: 12px;
    width: 30%;
    float: left;
    clear: both;
  }

  .list .reviewsum img {
    width: 15px;
    float: left;
  }

  .list .reviewsum .avg {
    line-height: 16px;
    padding-left: 4%;
    padding-right: 5%;
    font-size: 12px;
    color: #4a4a4a;
    float: left;
    
  }

  .list .reviewsum .count {
    padding-left: 5%;
    color: #55b26e;
    font-size: 12px;
    float: left;
    line-height: 16px;
  }

  .label-md {
    margin: 3% 1% 3% 0;
    }

  .content {
    text-align: center;
    padding: 20% 0 0 0;
  }
}
