page-supporter {

	
	ion-list {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		height: 100%;
	  }

	  ion-item {
		border-bottom: 1px solid #c0c0c0;
		padding: 2px;
		margin: 2px;
	  }
	  .name {
		float: left;
		padding-top: 5px;
	}
	.list {
		padding: 10px;
	  }

	  .profilephoto {
		float: left;
		padding: 5px;
	  }
	  .profilephoto img{
		height: 30px;
		margin-right: 6px;
	  }
/*
	  .ratingstars img {
		height: 16px;
		margin-right: 6px;
	  }
  
	  .ratingstars div {
		display: table;
	  }
  
	  .ratingstars span {
		font-size: 12px;
		display: table-cell;
		vertical-align: middle;
	  }
  
	  .ratingstars button {
		  background-color: transparent;
	  }
  
	  .ratingstars {
		margin-right: 10px;
	  }
	  */
}
