page-counselor-review-write {

	.place-name {
		margin: 0;
		height: 2em;
		position: relative;

		display: flex;
		font-size: 1em;

	}

	.container {
		
		.star-box {
			margin: 1em 0;
			border: solid 1px #d8d8d8;
			border-radius: 8px;

			.p1 {
				margin: 0.5em 0;
				font-size: 18px;
				color: #4a4a4a;
			}

			.p2 {
				margin: 0.5em 0;
				font-size: 14px;
				color: #9b9b9b;
			}
		}

		.like {
			// border: 1px solid #000;
			text-align: center;
			margin-bottom: 10px;
			background-color: white;
		}
		.like img {
			width: 30px;
		}
	}



    .area {
		text-align: center;
		margin-bottom: 10px;
	}

	.area .area1 {
		border: 1px solid color($colors, bordergray, base);
		border-radius: 5px;
		width: 100%;
		height: 40px;
		margin-bottom: 10px;
		padding: 10px;
	}

	.area .area2 {
		border: 1px solid color($colors, bordergray, base);
		border-radius: 5px;
		width: 100%;
		height: 150px;
		margin-bottom: 10px;
		padding: 10px;
	}

	.area .area3 {
		border: 1px solid color($colors, bordergray, base);
		border-radius: 5px;
		width: 32%;
		height: 40px;
		margin-bottom: 10px;
		padding: 10px;
	}

	ion-footer button {
  	margin: 0px !important;
  }

}
