page-community-posts {

    .slides {
        height: 30%;
    }

    .items {
        height: auto;
    }

    .text {
        height: auto;
        width: 100%;
        white-space: normal; 
        text-align: left;
    }

    .post-card{
        margin: 0.5rem;
        padding: 1rem;
        border-bottom: 1px solid color($colors, bordergray);
        
    }

}
