<ion-header>

  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ communityInfo.communityName }}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="toCommunityWrite(communityInfo)">
        글쓰기
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides class="slides">
    <ion-slide>
      <div>
        {{ communityInfo.communityName }}
      </div>
      <button ion-button (click)="joinCommunity()">
        커뮤니티 가입하기
      </button>
    </ion-slide>
    <ion-slide>
      {{ communityInfo.communityDescription }}
    </ion-slide>
  </ion-slides>


  <ion-list>
    <ion-item class="items" *ngFor="let post of posts" (click)="presentActionSheet(post)">
      <ion-avatar item-start>
        <img *ngIf="!post.anonymity" src="{{post.profilePicture}}">
        <img *ngIf="post.anonymity" src="../../assets/round-account_circle.svg">
      </ion-avatar>
      <h2 *ngIf="!post.anonymity">{{ post.username }}</h2>
      <h2 *ngIf="post.anonymity">익명</h2>
      <div class="text">{{ post.text }}</div>
      <!-- <ion-note item-end>{{ post.createdTime | date:'MM.dd a hh:mm' }}</ion-note> -->
    </ion-item>
  </ion-list>

</ion-content>