<ion-header>

  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>커뮤니티</ion-title>
    <ion-buttons right>
      <button ion-button (click)="toCommunityWrite(communityInfo)">
        글쓰기
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides class="slides" pager paginationType="fraction">
    <ion-slide>
      <div>
        <h1 class="text">{{ communityInfo.communityName }}</h1>
        <hr noshadow>
        <p class="text">{{ communityInfo.communityDescription }}</p>
        <p class="text">멤버 {{ communityInfo.members }}명</p>
      </div>
    </ion-slide>
    <ion-slide>
      <button *ngIf="!alreadyJoined" ion-button (click)="joinCommunity()">
        커뮤니티 가입하기
      </button>
      <button *ngIf="alreadyJoined" ion-button (click)="presentConfirm()">
        커뮤니티 멤버
      </button>
    </ion-slide>
  </ion-slides>

  <ion-card class="card-container" *ngFor="let card of posts">
    <ion-item>
      <ion-avatar item-start>
        <img *ngIf="!card.anonymity" src="{{card.profilePicture}}">
        <img *ngIf="card.anonymity" src="assets/round-account_circle.svg">
      </ion-avatar>
      <div ion-content>
        <h2 *ngIf="!card.anonymity" (click)="navigateToPage('ProfilePage', card.uid)">{{card.username}}</h2>
        <h2 *ngIf="card.anonymity">익명</h2>

        <p>{{card.communityName}}</p>
      </div>
      <button ion-button item-end icon-only clear (click)="presentActionSheet(card)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
    <ion-card-content class="card-content">
      <p class="card-text">{{card.text}}</p>
    </ion-card-content>
    <ion-row class="card-buttons">
      <ion-col class="button-wrapper" col-3>
        <!-- 좋아요 기능 -->
        <button ion-button icon-start clear small (click)="pressedLikeButton(card)">
          <ion-icon name="thumbs-up"></ion-icon> {{card.likes}}
        </button>
      </ion-col>
      <ion-col class="button-wrapper" col-3>
        <!-- 댓글 기능 -->
        <button ion-button icon-start clear small (click)="toComments(card)">
          <ion-icon name="text"></ion-icon> {{card.comment}}
        </button>
      </ion-col>
      <ion-col class="button-wrapper" col-3>
        <button ion-button clear small>
        </button>
      </ion-col>
      <ion-col class="button-wrapper">
        <button ion-button clear small>
          <ion-note>{{card.createdTime | date: 'MM/dd'}}</ion-note>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
