page-chats {

    ion-content {
        background-color: #f7f7f7 !important;
    }

    ion-segment {
        background-color: color($colors, white, base) !important;
        padding-bottom: 2rem;
    }

    ion-list {
		background-color: color($colors, white, base) !important;
    }

    .segbutton {
        width: 80%;
        bottom: 3%;
        margin: 0% 10% 0% 10%;
        text-align: center;
      }
    
      .segment-md .segment-button{
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 2%;
        width: 50%;
        color: #9b9b9b;;
        font-size: 20px;
        font-weight: 500;
        border-bottom-width: 0;
      }
    
      .segment-button.segment-activated {
        border-bottom-width: 4px;
        color: #4a4a4a;
    
      }

	.bottom-border {
        width: 100%;
		border-bottom: 1px solid color($colors, bggray, base) !important;
		padding: 12px !important;
		background-color: transparent !important;
    }


    .username { 
        // grid-area: username;
        float: left; 
        position: relative;
        color: color($colors, gray, base);
		font-size: 18px;
		margin-bottom: 10px !important;
        // text-align: left;
    }
    .grid-time { 
        // grid-area: time; 
        float: right;
        position: relative;
        color: gray;
        font-size: 12px;
        // text-align: right;
    }
    .grid-message { 
        margin: 3px 0px;
        float: left; 
        position: relative;
        // grid-area: message; 
        color: gray;
        font-size: 12px;
        text-align: left;
		// line-height: 1.3em;
		height: 2.6em;
		white-space: pre-line;
		overflow: hidden;
		text-overflow: ellipsis;
    }
    .review { 
        float: right; 
        position: relative;
        border: 1px solid color($colors, gray, base);
        border-radius: 8px;
        width: auto;
        padding: 8px;
        background-color: transparent;
        color:color($colors, gray, base);;
        font-size: 12px;
    }
    
    .container {
        vertical-align: center;
        // display: grid;
        // grid-template-areas:
        // 'username username username username username time'
        // 'message message message message message review';
        // grid-gap: 5px;
    }

	ion-avatar {
		margin: 0px 8px 0px 0px !important;
	}

	ion-avatar img {
		width: 60px !important;
		height: 60px !important;
    }
    
    .grid-item {
        color: gray;
        font-size: 12px;
        text-align: center;
    }

	.msg {
		margin: 3px 55px 0px 0px;
		font-size: 12px;
		line-height: 1.3em;
		height: 2.6em;
		white-space: pre-line;
		overflow: hidden;
		text-overflow: ellipsis;
		color: gray;
	}

	// ion-item remove padding
	.label {
  	margin: 0px;
    }
    
    .counter {
        margin: 0 0.5rem;
        padding: 0 0.5rem;
        height: 2rem;
        background-color: color($colors, primary, base);
        border-radius: 50rem;
        align-items: center;
        text-align: center;
        display: inline-block;
        font-size: 1.5rem;
        color: color($colors, white, base);
    }

	.username {
        color: #4a4a4a;
		font-size: 18px;
		margin-bottom: 10px !important;
	}

	.time {
		font-size: 12px;
		color: gray;
		float: right;
    }
    
    .review {
        border: 1px solid #4a4a4a;
        padding: 8px;
        float: right;
        background-color: transparent;
        border-radius: 8px;
        color:#4a4a4a;
        font-size: 12px;
    }
}
