<!--
  Generated template for the ChatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>온라인상담</ion-title>
  </ion-navbar>
  <ion-toolbar no-border>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-segment [(ngModel)]="type" (ionChange)="getChatList()">
        <ion-segment-button value="requested">
          요청받은 상담
        </ion-segment-button>
        <ion-segment-button value="request">
          요청한 상담
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="type">
        <ion-list no-lines *ngSwitchCase="'requested'">
          <ion-item-sliding *ngFor="let item of requestedinfos" (click)="supporterchat(item)">
            <ion-item class="bottom-border">
              <ion-avatar item-start>
                <img src="{{ item.buddyphotoURL }}">
              </ion-avatar>
              <span class="username">{{ item.buddyusername }}</span>
              <span class="time">{{ item.recenttimestamp | date:'hh:mm a' }}</span>
              <div class="msg">{{ item.recentmessage }}</div>
            </ion-item>
          </ion-item-sliding>
          <ion-item-options>
            <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-list>

        <ion-list no-lines *ngSwitchCase="'request'">
          <ion-item-sliding *ngFor="let item of requestinfos">
            <ion-item class="bottom-border">
                <ion-avatar item-start>
                  <img src="{{ item.buddyphotoURL }}">
                </ion-avatar>
                <div class="grid-container">
                    <span class="grid-username" (click)="supporterchat(item)">{{ item.buddyusername }}</span>
                    <span class="grid-time" (click)="supporterchat(item)">{{ item.recenttimestamp | date:'hh:mm a' }}</span>
                    <div class="grid-message" (click)="supporterchat(item)">{{ item.recentmessage }}</div>
                    <div class="grid-review" (click)="writeReview()">후기 남기기</div>
                </div>

              </ion-item>
              <ion-item-options side="right">
                <button class="delete_button" ion-button color="danger" (click)="deleteSupporterChat(item)">
                  <ion-icon name="trash"></ion-icon>
                  DELETE
                </button>
              </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      

</ion-content>