<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="card-page">

  <ion-searchbar (click)="presentAreaModal()"></ion-searchbar>

  <div #map id="map"></div>
  <!-- <ion-spinner ios></ion-spinner> -->

  <ion-card *ngFor="let place of places" (click)="placeDetail(place)">

    <ion-item>
      <ion-avatar item-start>
        <img src="{{ place.icon }}">
      </ion-avatar>
      <div class="card-title"> {{ place.name }}</div>

      <p>{{ place.formatted_address }}</p>

      <div *ngFor="let detail of details">
          <p>{{ detail.website }}</p>
      </div>  
    </ion-item>

    <ion-card-content>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="star"></ion-icon>
          <div>평점: </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>리뷰</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
