page-searchtag {

	ul {
	  list-style-type: none;
		padding: 0px;
		padding-top: 30px;
		margin: 0px;
	  //height: 100%;
	}

	.posttext .posttext.posttext div.posttext{
		display: -webkit-box;
		display: -ms-flexbox;
		display: box; 
		margin-top:1px; 
		max-height:80px; 
		overflow:hidden; 
		vertical-align:top; 
		text-overflow: ellipsis; 
		word-break:break-all; 
		-webkit-box-orient:vertical; 
		-webkit-line-clamp:2;
		font-family: AppleSDGothicNeo;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #9b9b9b;
		padding-top: 10px;
	}

	.anonymity {
		float: right;
		font-family: AppleSDGothicNeo;
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #9b9b9b;
	}

	.post {
	  padding: 15px;
	}

	.search {
		border: 1px solid color($colors, bordergray, base);
		border-radius: 5px;
		width: 100%;
		height: 40px;
		margin-bottom: 10px;
		padding: 10px;
	}

	.tag {
		margin-top: 15px;
		font-family: AppleSDGothicNeo;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #55b26e;
		padding-top: 10px;
	}

	.tag div{
		float: left;
		background-color: transparent;
	}

	.name {
	  overflow: auto;
	  margin-bottom: 5px;
	  display: table;
		width: 100%;
		
		span {
			color: color($colors, primary);
		}
	}

	.name span {
	  display: table-cell;
	  vertical-align: middle;
	}

	.name button {
		float: right;
		background-color: transparent;
	  padding: 0px;
	}

	.name p {
		float: left;
		padding: 5px;
	}

	.name ion-icon {
	  padding: 0px;
	  font-size: 30px;
	}

	.picture {
	  height: 250px;
	  text-align: center;
	  margin-bottom: 5px;
	}

	.picture img {
	  max-height: 100%;
	}

	.group-time {
	  margin-bottom: 5px;
	}

	.group-time button {
		background-color: transparent;
	  font-size: 15px;
	}

	.anonymity {
	  font-size: 10px;
	  float: right;
	}

	.text {
	  margin-bottom: 5px;
	}

	.text p {
	  margin: 0px;
	  white-space: pre-line;
	}

	.comment-like .like{
		background-color: #f7f7f7;
	}

	.comment-like img {
	  height: 16px;
	  margin-right: 6px;
	}

	.comment-like div {
	  display: table;
	}

	.comment-like span {
		font-family: AppleSDGothicNeo;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}

	.comment-like button {
		background-color: transparent;
	}

	.comment {
	  margin-right: 10px;
	}

	.co-li {
		background-color: #f7f7f7;
	}

	.tagcount{
		//width: 76px;
		height: 24px;
		font-family: AppleSDGothicNeo;
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}

	ion-footer button {
	  margin: 0px !important;
	}
		
/*
.buttons {
	width: 100%;
}

.buttons td {
	padding: 10px 0px;
}

.buttons div {
	background-color: color($colors, primary, base);
	border-radius: 40px;
	width: 80px;
	height: 80px;
}

.buttons button {
	height: inherit;
	padding: 0px;
	background-color: transparent;
	display: table;
}


.buttons p {
	margin: 0px;
	color: white;
	font-size: 12px;
	display: table-cell;
	 vertical-align: middle;
}
*/

.search-button button.button{
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
	color: #000000;
	background-color: transparent;
}

}
