page-supporterreview {

  .toolbar-title-md {
    color: #000000;
    font-size: 18px;
  }

  .bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover){
    color: color($colors, primary);
    font-size: 18px;
  }

  .profile {
    height: 50%;
    width: 100%;
    padding:10%;
    text-align: center;
  }

  .profile .greeting {
    font-size: 20px;
  font-weight: 500;
  color: #4a4a4a;
  line-height: 1;
  }

  .profile img {
    margin: 10%;
    width: 20%;
  }

  .profile .name {
    font-size: 18px;
    color: #4a4a4a;
  }

  .profile .supporter {
    font-size: 12px;
    color: #9b9b9b;
  }

  .segment-md .segment-button{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 50%;
    color: #9b9b9b;;
    font-size: 20px;
    font-weight: 500;
    border-bottom-width: 0;
  }

  .segment-button.segment-activated {
    border-bottom-width: 4px;
    color: #4a4a4a;

  }



  .profiletext {
    padding-left: 2%;
    padding-right: 2%;
  }

  .profiletext td {
    padding: 10px;
    width: 100px;
    font-size: 14px;
  }

  .profiletext .text1 {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: bold;
  }


/*
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        height: 100%;
      }
  
      .post {
        padding: 10px;
      }
  
      .search {
          border: 1px solid color($colors, bordergray, base);
          border-radius: 5px;
          width: 100%;
          height: 40px;
          margin-bottom: 10px;
          padding: 10px;
      }
  
      .tag {
          padding: 5px;
      }
  
      .tag button{
          float: left;
          background-color: transparent;
      }
  
      .name {
        overflow: auto;
        margin-bottom: 5px;
        display: table;
          width: 100%;
          
          span {
              color: color($colors, primary);
          }
      }
  
      .name span {
        display: table-cell;
        vertical-align: middle;
      }
  
      .name button {
        float: right;
        padding: 0px;
      }
  
      .name p {
          float: left;
          padding: 5px;
      }
  
      .name ion-icon {
        padding: 0px;
        font-size: 30px;
      }
  
      .picture {
        height: 250px;
        text-align: center;
        margin-bottom: 5px;
      }
  
      .picture img {
        max-height: 100%;
      }
  
      .group-time {
        float: right;
        margin-bottom: 5px;
      }
  
      .group-time button {
          background-color: transparent;
        font-size: 15px;
      }
  
      .time {
        font-size: 12px;
        float: right;
      }
  
      .text {
        margin-bottom: 5px;
      }
  
      .text p {
        margin: 0px;
        white-space: pre-line;
      }
  
      .comment-like img {
        height: 16px;
        margin-right: 6px;
      }
  
      .comment-like div {
        display: table;
      }
  
      .comment-like span {
        font-size: 12px;
        display: table-cell;
        vertical-align: middle;
      }
  
      .comment-like button {
          background-color: transparent;
      }
  
      .comment {
        margin-right: 10px;
      }
  
      li {
        border-bottom: 1px solid #c0c0c0;
      }
  
      ion-footer button {
        margin: 0px !important;
      }
      .search-button {
          text-align: center;
          margin-bottom: 10px;
      }
  
      .search-button .searcharea {
          border: 1px solid color($colors, bordergray, base);
          border-radius: 5px;
          width: 70%;
          height: 40px;
          margin-bottom: 10px;
          padding: 10px;
      }

      .like {
        // border: 1px solid #000;
        margin-bottom: 10px;
        background-color: white;
      }
      */
}
