page-pwdcheck {

	.cardsbg {
		background-color: #55b26e;
	}

	ion-card {
		border-radius: 10px !important;
		background-color: white !important;
	}

	ion-card-content {
		border-radius: 10px;
		padding: 0px !important;
	}

	form {
    	padding: 15px;
		padding-top: 55%;
		width: 70%;
		height: 19px;
		font-family: AppleSDGothicNeo;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
		margin-left: auto;
		margin-right: auto;
		display: block !important;
  	}

	ion-input {
		border-bottom: solid 1px #ffffff;
	}

	.email {
		margin-bottom: 15px;
		width: 100%;
	}

	.invalid {
    border-bottom: 1px solid color($colors, danger, base);
  }

	.error-message {
		margin: 3px 0px 0px;
		color: color($colors, gray, base) !important;
		font-size: 80%;
	}

	.pwreset {
		margin: 10px 0px 3px;
		font-size: 13px;
		background-color: transparent;
		color: #ffffff;
	}

	.prompt {
		border-top: 1px solid color($colors, gray, base);
		color: color($colors, gray, base) !important;
		text-align: center;
		padding: 10px 0px;
		font-size: 13px;
	}

	.signup {
		margin: 0px 15px 15px;
	}

	span.coconut{
		padding-top: 25%;
		width: 100%;
		text-align: center;
		height: 36px;
		font-family: Baruta;
		font-size: 30px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
	  }

	span.email_pwd{
		padding-top: 70px;
		width: 70%;
		height: 19px;
		font-family: AppleSDGothicNeo;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
		text-align: center;
	}

	form button.button{
		margin-top: 70px;
		background-color: transparent;
		height: 29px;
		font-family: AppleSDGothicNeo;
		font-size: 24px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		margin-left: auto;
		margin-right: auto;
		display: block !important;
	}
}

