page-imgexpansion {

    img.normal{
        width: 100%;
        height: 100%;
        vertical-align: middle;
      }

    img.rotate1{
      width: 100%;
      height: 100%;
        vertical-align: middle;
        transform: rotate(90deg);
      }

    img.rotate2{
      width: 100%;
      height: 100%;
        vertical-align: middle;
        transform: rotate(180deg);
      }

    img.rotate3{
      width: 100%;
      height: 100%;
        vertical-align: middle;
        transform: rotate(270deg);
      }

    .content{
        line-height: 100%;
    }
}
