<ion-content class="cardsbg">
  <span class="coconut" style="width: 100%; float: right;">
    Coconut
  </span>
  <form [formGroup]="signupForm" novalidate>
    <span class="info">이름(별명)</span>
    <ion-input class="put" formControlName="name" type="text" [class.invalid]="(!signupForm.controls.name.valid && signupForm.controls.name.dirty) || (signupForm.controls.name.valid && !usernameAvailable)"
      (keyup)="isSameUsername()"></ion-input>
    <p class="error-message" *ngIf="!signupForm.controls.name.valid && signupForm.controls.name.dirty">
      8글자 이하로 만들어주세요!
    </p>
    <p class="error-message" *ngIf="signupForm.controls.name.valid && !usernameAvailable">
      이미 사용 중인 이름입니다!
    </p>
    <br>
    <span class="info">이메일 주소</span>
    <ion-input class="put" formControlName="email" type="email" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
    <p class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
      이메일 주소를 다시 확인해주세요!
    </p>
    <br>
    <span class="info">비밀번호</span>
    <ion-input class="put" formControlName="password" type="password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
    <p class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
      8자리 이상, 숫자와 문자를 조합해주세요!
    </p>
    <br>
    <!-- <span class="info">비밀번호 확인</span>
    <ion-input class="put" formControlName="passwordconfirm" type="password" [class.invalid]="!signupForm.controls.passwordconfirm.valid && signupForm.controls.passwordconfirm.dirty"></ion-input>
    <p class="error-message" *ngIf="!signupForm.controls.passwordconfirm.valid && signupForm.controls.passwordconfirm.dirty">
      비밀번호가 맞지 않습니다.
    </p> -->
    <!-- <br>
    <span class="info">성별</span>
    <div class="btn2">
      <button class="btn2_1" [class.greenbtn]="clickmale" (click)="setMale()">
        남
      </button>
      <button [class.greenbtn]="clickfemale" (click)="setFemale()">
        여
      </button>
      <button [class.greenbtn]="clickEtc" (click)="setEtc()">
        그 외
      </button>
    </div>
    <br>
    <span class="info">태어난 해</span>
    <ion-input class="put" formControlName="age" type="number"></ion-input> -->
    <!-- <div class="button2">
      <button class="btn2_1" [class.greenbtn]="clickterms1" (click)="setTerms1()"></button>
      <span class="terms1">
        <button class="terms1" (click)="terms1()"><u>개인정보취급방침</u></button>
        <button class="terms2" style="text-align: left">동의</button>
      </span>
      <br>
      <button [class.greenbtn]="clickterms2" (click)="setTerms2()"></button>
      <span class="terms1">
        <button class="terms2" (click)="terms2()"><u>이용약관</u></button>
        <button class="terms2" style="text-align: left">동의</button>
      </span>
    </div> -->

    <div class="register-done" (click)="signupUser()">
      회원가입 완료
    </div>
    <div class="spans">
      <span (click)="signIn()">
        이미 아이디가 있으신가요?
      </span>
    </div>

    <div class="spacing">

    </div>
  </form>


</ion-content>