page-place-detail {

  

    // navbar back button color change
    ion-header ion-icon.back-button-icon.icon {
        color: map-get($colors, black);
    }

    .segment-md {
        width: 100%;
        margin-bottom: 2rem;
      }

    .segbutton {
        width: 80%;
        bottom: 3%;
        margin: 0% 10% 0% 10%;
        text-align: center;
      }
    
      .segment-md .segment-button{
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 2%;
        width: 50%;
        color: #9b9b9b;;
        font-size: 20px;
        font-weight: 500;
        border-bottom-width: 0;
      }
    
      .segment-button.segment-activated {
        border-bottom-width: 4px;
        color: #4a4a4a;
    
      }


    ion-header {
        .toolbar {
          position: absolute;
      
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: black;
          }
        }
      }

    #icon-create {
        color: map-get($colors, white);
    }

    .top-buttons {
        position: absolute;
        z-index: 1;
    }

    .contents {
        align-items: center;
        justify-content: center;
        align-content: center;

        .top-image {
            background-image: linear-gradient(
                         rgba(20,20,20, .5), 
                         rgba(20,20,20, .5)),
                         url("../../assets/ccenter.jpg");
            // position: fixed;
            width: 100%;
            height: 40%;
            opacity: 0.8;
    
            .top-image.scroll-content {
                background: url('../../assets/ccenter.jpg') no-repeat;
                background-size: cover;
            }
        }

        .details {
            padding: 1em;
            font-size: 12px;
    
        }
    
        .reviews {
            width: 100%;
            align-content: center;

            .review-button {
                margin: 0.5em 0.7em;
                height: 4em;
                border-radius: 8px;
                border: solid 1px #d8d8d8;
                display: flex;
                align-items: center;

                align-content: center;
                justify-content: center;

            }

    
    
            .review {
                margin: 0 0.7em;
                height: auto;
                border-bottom: solid 1px #d8d8d8;
                position: relative;

                .review-star-points {
    
                    #average-text {
                        color: color($colors, primary);
    
                    }
                }
    
                .review-text {
                    margin: 0.5em 0;
                    height: auto;
                }
    
                .review-info {
                    color: #9b9b9b;
                }
            }
        }
    }

    
}
